<section>
  <header>
    <% if @publishers.empty? %>
      <h3>No Publishers Defined</h3>
    <% else %>
      <h3>All Publishers</h3>
    <% end %>
  </header>

  <% @publishers.each do |publisher| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to publisher.name, [:admin, publisher] %><br>
      </div>
    </div>
  <% end %>

  <hr>
  <p><%= link_to 'Add New publisher', add_publisher_path, class: 'btn btn-primary' %></p>

</section>
