@import "bootstrap-sprockets";
@import "bootstrap";

.sidebar-link {
    list-style: none;
}

ul.sidebar-link {
    list-style: none;
}

.titles {
    // background-color: #e7e7e7;
    padding: 10px 0 10px 0;
}

.navbar-default {
    background-color: #B2d7ff;
}

